# Ignore node_modules directory
node_modules/

# Ignore environment files
.env
.env.local
.env.*.local

# Ignore npm debug log files
npm-debug.log*

# Ignore yarn lock files
yarn.lock

# Ignore IDE or editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
